@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fafafa !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


/* =================navbar================= */

input {
    background-color: #fafafa;
    width: 210px;
    height: 30px;
    border: 1px solid rgb(218, 214, 214);
    border-radius: 2px;
}

input:focus {
    border: 1px solid rgb(194, 192, 192);
    outline: none;
}

.search::placeholder {
    text-align: center;
    font-size: 14px;
    color: darkgray;
}

.search:focus::placeholder {
    text-align: start;
}

.profile {
    border-radius: 50%;
}

.bg-nav {
    background-color: white;
}

.navbar .px {
    padding-left: 10%;
    padding-right: 7%;
}

.nav-icon {
    width: 30px;
}


/* ==================story section================== */

.story-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
}


/* ===========right section================== */

.suggest-profile {
    line-height: 5px;
    margin-top: -15px;
}

.suggest-profile p {
    font-size: 14px;
    font-weight: 600;
}

.suggest-profile small {
    color: gray;
    font-size: 13px;
}

.right-link a {
    text-decoration: none;
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}

.container-size {
    width: 400px;
    margin-right: 6rem;
}

.right-part {
    position: fixed;
    /* z-index: 1; */
    top: 15%;
    left: 60%;
}

.right-margin {
    margin-right: 25%;
}


/* =================left section===================== */

.carousel-bg {
    background-color: white;
    padding: 15px;
}

.left-margin {
    margin-left: 15%;
    width: 90%;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.left-part {
    margin-top: 6%;
}


/* ======================post====================== */

.post-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-giver {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10%;
}

.btn-post-modal {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.btn-cancel {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 14px;
}

.modal .modal-width {
    width: 400px;
    padding: 0px;
    border-radius: 15px;
}

.modal-text {
    font-size: 14px;
}

.modal-text hr {
    width: 400px;
    margin-left: -4%;
}

.post-reaction {
    color: black;
    font-size: 20px;
}

.comment {
    transform: scaleX(-1);
}

.card-bodys small {
    font-size: 10px;
    color: gray;
}

.card-footer a {
    color: black;
    text-decoration: none;
}

.card-footer input {
    border: none;
    background-color: white;
}

.card-footer .post-btn {
    color: #0095f6;
    opacity: 0.4;
}

input:focus .post-btn {
    opacity: 1;
}