@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    ;
}


/* =================navbar================= */

input:focus {
    border-color: transparent;
}

.search::placeholder {
    text-align: center;
    font-size: 14px;
}

.search:focus::placeholder {
    text-align: start;
}

.profile {
    border-radius: 50%;
}

.bg-nav {
    background-color: white;
}

.px {
    padding-left: 7%;
    padding-right: 6%;
}


/* ==================story section================== */

.story-image {
    width: 80px;
    border-radius: 50%;
}


/* ===========right section================== */

.suggest-profile {
    line-height: 5px;
    margin-top: -15px;
}

.suggest-profile p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.suggest-profile small {
    color: gray;
}

.right-link a {
    text-decoration: none;
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}